<!-- views/404.ejs -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="display-1 joey-title">404</h1>
        <h2 class="mb-4">Oops! This Joey got lost.</h2>
        <p class="lead">The page you're looking for doesn't exist or has been moved to another dimension.</p>
        <img src="/images/confused-joey.gif" alt="Confused Joey" class="img-fluid mb-4">
        <p>
          <a href="/" class="btn btn-primary joey-button">Go back to Joey Home</a>
        </p>
      </div>
    </div>
  </div>